@media (max-width: 767px) {
  .main .page-header {
    float: none !important;
  }
  .navbar-form {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .content-header {
    margin-bottom: 5px;
  }
}
